.logo h1 {
    display: block;
}

.article__wrap .article__title {
    max-width: 60%;
    margin-bottom: 2rem;
}

.article__wrap .article__arrow {
    margin-bottom: 2rem;
}

.footer .navigation__list {
    flex-direction: row;
    justify-content: center;
}